html, body {width: 100vw; height: 100vh;}
div {width: 100%; height: 100%}

body {
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  background-color: #466365;
  font-size: 15px;
  padding: 0;
}

#bg-image {
  background-image: url("./Images/Sheffield.png");
  background-size: cover;
  padding: 0;
  margin:0;
  height: 350px;
}

h1 {
  font-size: 50px;
  text-shadow: 0px 0px 4px 0px black;
}

#underln {
  border-bottom: 4px solid white;
}

#text-below-bgimage{
  height: 40px;
  background-color: black;
  padding: 2px 0 0 0;
  margin:0;
}

#middle-frame{ 
  background-image: url("./Images/Outdoor.jpg");
  text-align: center;
  width:580px;  
  height: 300px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content:center;
  border: 0.5px solid white;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-top: 2px;
  }
  

.middle-banner{ 

display: flex;
justify-content:center;
margin:0;
height: auto;
background-size: cover;

}

.middle-banner-size-video{ 
  border: 0.1px solid white ;
  margin-top: 0;
  padding:0;
  border-radius: 20px;
  }


.event-in-sheffield{
  width: 250px;
  border: 0px dotted white ;
  border-radius: 5px;
  padding: 0 0 0 0px;
  margin: 0;
 }


h2 {
  font-weight: bold;
  font-size: 20px;
  text-shadow: -5px -5px 4px black;
  margin: 0;
  padding: 0;
}
  
h3{
  margin:0;
  font-size: 20px;
  color: yellow;
}

.img-middlebanner-image{
  width: 200px;  
  height: 150px;
  padding: 0;
  margin:0;
  background-size: cover;
}

#experience{
  margin-top:0;
  width: 300px;
  height: 200px;
  
}

  
  p{
    font-size: 15px;
    padding: 10px 10px;
    font-family:Arial, Helvetica, sans-serif;
    color: beige;
    margin: 0;
    text-align: justify;
  }
  #header{
    color: white;
    text-decoration:dashed;
  }

  .footer-dim{
    display: flex;
    padding-top: 10px;
    height: 35px;
    font-size: 20px;
    border: 0px solid white ;
    background-color: #222222;
    color: lightblue;
    margin:0;
  
  }
  
 
  #btn-dim{
    
    height: 30px;
    width: 100px;
    font-size: 15px;
    margin-right: 0 0 0 2px;
    padding: 2px;
    border: 0px solid #222222;
    border-radius: 20px;
    background: lightgray;
    color: black;
  }
  
  .newsletter-sub{
    width: 250px;
    height: 25px;
    font-size: 15px;
    margin:0;
    padding: 10px;
    border: 0px solid white;
    border-radius: 24px;
    margin-right: 30px;
  }

  #social-medial-handle{
    width: 250px;
    height: auto;
    justify-content:space-between;
    padding-left: 10px;
    margin: 0;
    border: 0px solid white;
    }
    .social-medial-image{
      text-align: right;
      width: 30px;
      height: 25px;
      padding: 0 20px 0 20px;
      margin: 0;
      }

form{
  border: 0px solid white;
  padding: 0 20px 0 20px;
text-align: centre;
margin:0;
height: auto;

}

.container {
  position: relative;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none;
 
}

.responsive-iframe{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0%;

}